@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 50px;
  }
  
  .logo a {
    font-size: 24px;
    text-decoration: none;
    font-weight: bold;
    color: #333;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    margin-left: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: bold;
  }
  
  .nav-links a:hover {
    color: #0066cc;
  }

  .background-image {
    background-image: url("1.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  
  .background-video {
    background-image: url("2.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  
  .overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    color: #fff;
    width: 100%;
    height: 100%;
  }
  
  h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 24px;
    margin-bottom: 30px;
  }
  
  button {
    background-color: #fff;
    color: #333;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
  }

  .video-block{
    margin: 30px 0;
  }

  .search-form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  input[type="text"] {
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 16px;
    width: 25%;
    margin-right: 10px;
    outline: none;
  }
  
  button[type="submit"] {
    background-color: #8d8d92;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #555555;
  }
  .photo-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .photo-card {
    margin: 20px;
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s;
  }
  
  .photo-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  
  .photo-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .photo-card h3 {
    text-align: center;
    margin: 10px 0;
  }
  
  .photo-card p {
    text-align: justify;
    margin: 10px;
  }

  .sub-form-header {
    text-align: center;
  }

  .subscribe-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  label {
    font-size: 18px;
    margin-right: 10px;
  }
  
  input[type="email"] {
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 16px;
    width: 300px;
    margin-right: 10px;
    outline: none;
  }

  .email-form {
    margin: 50px;
  }

  footer {
    background-color: #333;
    color: #fff;
    padding: 50px 0;
  }
  
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .footer-section {
    width: 300px;
    margin: 20px;
  }
  
  .footer-section h2 {
    margin-bottom: 10px;
  }
  
  .footer-section p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  
  .footer-bottom {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }
